/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&family=Yesteryear&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

header {
    background-color: #8D9E55;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

h3 {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: small;
}

header h1 {
    color: #ffffff;
    font-size: 2rem;
    padding: 1rem 1rem;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    background-color: #E9EFD8;
    width: 100%;
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
    margin-top: 1em;
}

nav a {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

nav a:hover {
    color: #8D9E55;
}

.nav-toggle:checked ~ nav {
    display: block;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    float: right;
    padding: 1rem 1rem;
}

/* Main */
#hero-image {
    height: 600px;
    width: 100%;
    background-color: #000;
    position: relative;
}

#hedline-text {
    background-color: rgba(255, 255, 255, .3);
    font-size: 130%;
    position: absolute;
    bottom: 150px;
    left: 30px;
    width: 80%;
    min-height: 200px;
}

#hedline-text h2 {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    text-align: left;
    padding: 2rem 2rem 0 2rem;
}

#hedline-text h3 {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    text-align: left;
    padding: 10px 2rem 2rem 2rem;
}

#what-we-offer {
    text-align: center;
}

#what-we-offer h2 {
    padding: 3rem 3rem 5px 3rem;
}

#stretch {
    text-align: center;
    padding: 3rem 3rem 15px 3rem;
}

#stretch i,
#workout i,
#socialize i {
    font-size: 4rem;
    padding: 8px 8px;
}

#stretch h2,
#workout h2,
#socialize h2 {
    padding: 2rem 2rem 3px 2rem;
    font-weight: bolder;
    font-size: medium;
}

#stretch h3,
#workout h3,
#socialize h3 {
    padding: 3px 2rem 2rem 2rem;
}

#our-classes {
    background-color: #8D9E55;
}

#register {
    text-align: center;
    padding: 3rem 3rem 15px 3rem;
    color: #ffffff;
}

#cards {
    display: flex;
    justify-content: center;
    margin: 30px;
    flex-wrap: wrap;
}

.card {
    background-color: #E9EFD8;
    height: 300px;
    width: 220px;
    margin: 10px;
    border-radius: 9px;
}

#card-image-one {
    background-color: #000;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 9px 9px 0 0;
}

#card-image-two {
    background-color: #000;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 9px 9px 0 0;
}

#cards h2 {
    font-size: medium;
    font-weight: bold;
    padding: 0.5rem 0.5rem 3px 0.5rem;
}

#cards h3 {
    padding: 0 0.5rem 0.5rem 0.5rem;
}

#register-button {
    background-color: #292929;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: medium;
    width: 150px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 2rem 2rem;
    border-radius: 30px 30px;
}

#video {
    display: flex;
    width: 200px;
    
}

/* css for tablet screens */
@media screen and (min-width: 768px) {

}

/* laptops and desktops */
@media screen and (min-width: 992px) {

}

/* big screens */
@media screen and (min-width: 1200px) {

}